$colorBlack: #000000;
$colorWhite: #ffffff;
$colorYellow: #F7AD22;
$colorLightGray: #909090;
$colorGray:#474748;
$colorGreen:#54BA56;
$colorBlue:#4269EA;
$lightWhite:#F1F3F6;
$colorLightRed: #E82B2B;
$colorDarkBlue:#0E30A0;





